

.scroll::-webkit-scrollbar-track{
	border-radius: 100em;
	background-color: transparent;
}


.scroll::-webkit-scrollbar
{
	width: 0.5em;
	background-color: transparent;
	height: 0.5em;
}

.scroll::-webkit-scrollbar-thumb
{
	border-radius: 100em;
	background-color: rgba(187,186,183, 0.8);
}
